<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/assets/css/style.css"/>
    <link rel="stylesheet" href="/assets/css/admin-panel.css"/>
    {% block styles %}{% endblock %}
</head>

<body>

<header>
    <div class="navbar-fixed">
        <nav class="grey darken-4">
            <div class="nav-wrapper">
                <ul>
                    <li>
                        <a href="#" data-target="slide-out" class="sidenav-trigger waves-effect waves-light">
                            <i class="material-icons">menu</i>
                        </a>
                    </li>
                    <li><a href="/" class="brand-logo">Admin</a></li>
                </ul>
                <ul class="right">
                    <li><a class="waves-effect waves-light"><i class="material-icons" data-toggle-fullscreen>settings_overscan</i></a>
                    </li>
                    <li><a class="dropdown-trigger waves-effect waves-light" href="#"
                           data-target="notificationsDropdown">
                            <i class="material-icons">notification_important</i>
                        </a>
                        <ul id="notificationsDropdown" class="dropdown-content">
                            <li class="dropdown-title">Notifications<span class="new badge">0</span></li>
                            <li class="divider" tabindex="-1"></li>
                            <li><a href="#">Notification 1</a></li>
                            <li><a href="#">Notification 2</a></li>
                            <li><a href="#">Notification 3</a></li>
                        </ul>
                    </li>
                    <li><a class="dropdown-trigger waves-effect waves-light" href="#" data-target="userDropdown">
                            <img class="user-avatar" src="/assets/img/avatar-default.png" alt="User Avatar">
                        </a>
                        <ul id="userDropdown" class="dropdown-content">
                            <li class="dropdown-title" style="text-align: center">
                                {{ current_user.getUsername }}
                                <span>{{ current_user.getEmail }}</span>
                            </li>
                            <li class="divider" tabindex="-1"></li>
                            <li><a href="/user/profile/show"><i class="material-icons">account_circle</i>Profile</a>
                            </li>
                            <li><a href="/logout"><i class="material-icons">exit_to_app</i>Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<div class="main-page">
    <aside>
        <ul id="slide-out" class="sidenav admin-sidenav sidenav-fixed">
            <li>
                <div class="logo-wrapper">
                    <a href="/" class="admin-logo">Admin panel</a>
                </div>
            </li>
            <li><a href="/admin/dashboard" class="waves-effect waves-light">
                    <i class="material-icons-outlined">dashboard</i>Dashboard</a></li>
            <li><a href="/admin/posts" class="waves-effect waves-light">
                    <i class="material-icons">library_books</i>Posts</a></li>
            <li><a href="/admin/categories" class="waves-effect waves-light">
                    <i class="material-icons-outlined">category</i>Categories</a></li>
            <li><a href="/admin/users" class="waves-effect waves-light">
                    <i class="material-icons">people_outline</i>Users</a></li>
            <li><a href="/admin/comments" class="waves-effect waves-light">
                    <i class="material-icons">comment_outline</i>Comments</a></li>
        </ul>
    </aside>

    <main>
        <div class="container">
            {% for message in flash_messages %}
                <div class="card alert alert-{{ message.type }}">
                    <div class="card-content">
                        <p>{{ message.body }}</p>
                    </div>
                    <button class="alert-close-btn" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
            {% endfor %}

            {% block page_title %}
            {% endblock %}

            {% block body %}
            {% endblock %}
        </div>
    </main>

    <footer class="page-footer grey darken-3">
        <div class="container">
            <div class="row">
                <div class="col l6 offset-l3 s12 center-align">
                    <a href="/" class="brand-logo">MyBlogLogo</a>
                </div>
            </div>
        </div>
        <div class="footer-copyright grey darken-4">
            <div class="container">
                © 2019 Copyright
                <a class="grey-text text-lighten-4 right" href="#!">Social icons</a>
            </div>
        </div>
    </footer>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/toggleFullscreen.js"></script>

{% block scripts %}
{% endblock %}

</body>
</html>