{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}

    <h1>Welcome!</h1>

    <ul>
        {% for post in posts %}
            <h2>{{ post.title }}</h2>
            <p>{{ post.content }}</p>
        {% endfor %}
    </ul>

{% endblock %}