:root {
    --admin-primary-color: #303f9f;
}

.main-page {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding-left: 270px;
}

main {
    flex: 1 0 auto;

}

.main-page .container {
    width: 95%;
}

.page-title-wrapper {
    display: flex;
    justify-content: center;
}

.page-title-wrapper > div {
    width: 50%;
}

.page-title {
    margin-bottom: 3rem;
    font-weight: 300;
    text-align: center;
}

#toast-container {
    top: auto !important;
    left: auto !important;
    bottom: 15%;
    right: 2%;
}

.content-wrapper {
    position: absolute;
    z-index: -1;
    top: 64px;
    left: 0;
    width: 100%;
    height: 220px;
    background: #e0e0e0;
}

.pagination li.active {
    background: var(--admin-primary-color);
}

.collection.with-header .collection-header {
    padding: 1rem 1rem;
}

.collection.with-header .collection-header > h5 {
    margin: 0;
}

.page-footer {
    padding: 0.5rem 0;
}

/*
    Navbar
 */

.dropdown-content li.dropdown-title {
    color: var(--admin-primary-color);
}

#notificationsDropdown li a {
    font-size: 16px;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

#notificationsDropdown {
    min-width: 300px;
}

#notificationsDropdown li i:hover {
    opacity: 0.5;
}

#newNotificationIcon {
    display: none;
    position: absolute;
    top: -8px;
    right: 12px;
    font-size: .8rem;
}

/*
    Side nav
 */

.admin-sidenav {
    width: 270px;
    background-color: #212121;
}

.admin-sidenav li > a {
    color: #ffffff;
}

.admin-sidenav li > a:hover {
    background-color: #424242;
}


.admin-sidenav li > a > i.material-icons, .admin-sidenav li > a > i.material-icons-outlined {
    color: #ffffff;
    margin: 0 22px 0 0;
}

.sidenav .subheader {
    color: #b0bec5;
    text-transform: uppercase;
}

.admin-sidenav .logo-wrapper {
    padding: 0.5rem 1rem;
    background-color: #212121;
    text-align: center;
    height: 64px;
}

.admin-logo {
    font-size: 28px;
    color: #ffffff;
}

.sidenav li {
    position: relative;
}

.sidenav li.active {
    background-color: rgba(0, 0, 0, 0.15);
}


div.indicator {
    position: absolute;
    width: 8px;
    background-color: #3f51b5;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 999;
}

/*
    Tables
 */

table a > i.material-icons, table a > i.material-icons-outlined {
    padding-left: .2rem;
}

table a > i.material-icons:hover, table a > i.material-icons-outlined:hover {
    opacity: 0.5;
}

/*
    Forms
 */

.slug-edit-icon {
    position: absolute;
    top: 12px;
    right: 10px;
    color: #9e9e9e;
    cursor: pointer;
    z-index: 100;
    transition: color .6s;
}

.slug-edit-icon.active {
    color: var(--admin-primary-color);;
}

#inputSlug:-moz-read-only {
    color: #9e9e9e;
}

#inputSlug:read-only {
    color: #9e9e9e;
}

.quill-wrapper {
    margin: 2.5rem 0 2.5rem 0;
}

#editor-container {
    min-height: 150px;
}

.ql-editor strong {
    font-weight: 600;
}

.password-icon.active {
    color: var(--admin-primary-color);
}

.input-field input[type=text]:focus + label {
    color: var(--admin-primary-color) !important;
}

.input-field .prefix.active {
    color: var(--admin-primary-color) !important;
}

.input-field input[type="text"]:focus,
.input-field input[type="email"]:focus,
.input-field input[type="password"]:focus {
    border-bottom: 1px solid var(--admin-primary-color) !important;
    box-shadow: 0 1px 0 0 var(--admin-primary-color) !important;
}

[type="radio"]:checked + span::after, [type="radio"].with-gap:checked + span::after {
    background-color: var(--admin-primary-color) !important;
}

[type="radio"]:checked + span::after,
[type="radio"].with-gap:checked + span::before,
[type="radio"].with-gap:checked + span::after {
    border: 2px solid var(--admin-primary-color) !important;
}

textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid var(--admin-primary-color);
    -webkit-box-shadow: 0 1px 0 0 var(--admin-primary-color);
    box-shadow: 0 1px 0 0 var(--admin-primary-color);
}

textarea.materialize-textarea:focus:not([readonly]) + label {
    color: var(--admin-primary-color) !important;
}

.switch label input[type="checkbox"]:checked + .lever {
    background-color: #9fa8da;
}

.switch label .lever::before {
    background-color: rgba(48, 63, 159, 0.15);
}

input[type="checkbox"]:checked:not(:disabled) ~ .lever:active::before,
input[type="checkbox"]:checked:not(:disabled).tabbed:focus ~ .lever::before {
    background-color: #c5cae9;
}

.switch label input[type="checkbox"]:checked + .lever::after {
    background-color: var(--admin-primary-color);
}

.dropdown-content li > a, .dropdown-content li > span {
    color: var(--admin-primary-color);
}

.btn-floating {
    transition: all .3s ease-in-out;
}

.btn:hover, .btn-large:hover, .btn-small:hover {
    filter: brightness(1.2);
}


/*
    Dashboard
 */

.stats-card .card-content {
    padding: 1rem 1.5rem 1.5rem 1.5rem;
}

.stats-card .card-content h5 {
    font-size: 1.8rem;
    margin-top: 0;
    font-weight: 700;
}

.stats-card .card-content span {
    font-weight: 300;
}

.stats-card .card-content i {
    font-size: 3rem;
    opacity: .8;
    padding-right: .5rem;
}

.stats-card .card-action {
    padding: .5rem .5rem .5rem 1.5rem;
}

.stats-card .card-action a {
    text-transform: none !important;
    color: #ffffff !important;
    font-size: .9rem;
    margin-right: 0 !important;
}

.stats-card .card-action i {
    font-size: 1.2rem;
    padding-top: .1rem;
    margin-left: .5rem;
}

.stats-card:hover > .card-action i {
    animation: shake-right .8s ease-in-out infinite;
    padding: 0;
}

/*
    Animations
 */

@keyframes shake-right {
    0%,
    100% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(5px, 0);
    }
}

/*
    Media queries
 */

@media (max-width: 600px) {
    .content-wrapper {
        top: 56px;
    }

    .page-title-wrapper > div {
        width: 100%;
    }
}

@media (max-width: 992px) {
    .main-page {
        padding-left: 0;
    }
}