.alert {
    border: 1px solid #a8a8a8;
    padding: 5px;
    margin: 10px 0;
}

.alert-success {
    background-color: #b9f0be;
}

.alert-info {
    background-color: #c0ffff;
}

.alert-warning {
    background-color: #fffcba;
}

.alert-error {
    background-color: #ffb093;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
}

nav .brand-logo {
    position: relative;
    padding: 0 1rem;
}

div.invalid {
    color: #F44336;
    font-size: 0.8rem;
    text-align: right;
}

.password-icon {
    position: absolute;
    top: 12px;
    right: 10px;
    color: #9e9e9e;
    cursor: pointer;
    z-index: 100;
    transition: color .6s;
}

.password-icon.active {
    color: #26a69a;
}
