body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/*
    Homepage
 */

.card-post .card-content {
    padding-top: .8rem;
}

.card-post {
    margin: 3rem 1rem 2rem 0;
}

.main-post {
    margin: 3.5rem 0 2rem 0;
}

span.post-details {
    padding: 0 .5rem;
}

span.post-details i {
    position: relative;
    top: 5px;
}

/*
    Navbar
 */

nav .brand-logo {
    position: relative;
    padding: 0 1rem;
}

#categoriesDropdown {
    overflow-y: scroll;
    white-space: nowrap;
    width: auto !important;
    max-height: 350px;

}

.mobile-nav {
    background-color: #212121;
}

.mobile-nav li > a {
    color: #ffffff;
}

.mobile-nav li > a:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

#categoriesModal .modal-content {
    padding-top: 0;
}

#categoriesModal > .modal-close {
    margin-top: 0.2rem;
}

/*
    Footer
 */

.page-footer {
    margin-top: 5rem;
}

.page-footer .brand-logo {
    color: #ffffff;
    font-size: 2rem;
}

/*
    Alerts
 */

.alert {
    text-align: center;
    margin: 0;
}

.alert-success {
    background-color: #e8f5e9;
    color: #388e3c;
}

.alert-info {
    background-color: #e3f2fd;
    color: #1976d2;
}

.alert-warning {
    background-color: #fff3e0;
    color: #f57c00;
}

.alert-error {
    background-color: #ffebee;
    color: #d32f2f;
}

.alert-close-btn {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    font-size: 1.7rem;
    position: absolute;
    right: 10px;
    top: 20px;
    color: inherit;
    cursor: pointer;
}

.alert-close-btn:focus {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

/*
    Forms
 */

div.invalid {
    color: #F44336;
    font-size: 0.8rem;
    text-align: right;
}

.password-icon {
    position: absolute;
    top: 12px;
    right: 10px;
    color: #9e9e9e;
    cursor: pointer;
    z-index: 100;
    transition: color .6s;
}

.password-icon.active {
    color: #26a69a;
}

/*
    Tables
 */

table.serial {
    counter-reset: serial-number;
}

table.serial td:first-child:before {
    counter-increment: serial-number;
    content: counter(serial-number);
}

/*
    Profile card
 */

.user-avatar {
    text-align: center;
    width: 80%;
    max-width: 200px;
    margin: 0 auto;
    position: relative;
}

.user-avatar img {
    width: 100%;
    border-radius: 50%;
}

.user-details table tr td:first-child {
    font-weight: bold;
}

/*
    Post page
 */

.post-page-content {
    position: relative;
    top: -20vh;
}

.post-image {
    position: relative;
    min-height: 80vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.post-card {
    line-height: 1.8rem;
}

.post-card .card-content {
    padding: .3rem 3rem 3rem 3rem;
}

.post-card .card-content h2 {
    margin-bottom: 2.5rem;
}

@media (max-width: 600px) {
    .post-image {
        min-height: 50vh;
    }

    .post-card {
        top: 0;
    }
}

.post-content strong {
    font-weight: 600;
}

.post-content .ql-align-center {
    text-align: center;
}

.post-content .ql-align-right {
    text-align: right;
}

.post-content .ql-align-justify {
    text-align: justify;
}

.post-content .ql-syntax {
    background-color: #212121;
    color: #ffffff;
    padding-left: .3rem;
}

.post-content ul {
    padding-left: 2.8rem;
}

.post-content ul li {
    list-style-type: disc;
}

.comment-avatar {
    min-width: 45px;
    max-width: 60px;
}

.comment-avatar img {
    border-radius: 50%;
}

.comment-card .card-content .card-title {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 1.4rem;
    margin-right: 1rem;
}

.comment-card .card-content .comment-date {
    opacity: 0.3;
    font-size: .9rem;
}

.comment-card .card-content .comment-info {
    margin-bottom: 1rem;
    font-size: .5rem;
}

/*
    Helpers
 */

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-bold {
    font-weight: 700;
}

.mb-0 {
    margin-bottom: 0;
}

.m-0 {
    margin: 0 !important;
}

.p-0 {
    padding: 0 !important;
}

