{% extends "base.html.twig" %}

{% block title %}Forgot password{% endblock %}

{% block body %}
    <h2 class="center-align">Password reset</h2>

    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="card-panel grey lighten-4">
                <p>
                    Forgotten your password? Enter your username or email address,
                    and we'll send you an email with instructions for setting a new one.
                </p>
                <form method="post" action="/user/password/request-reset">
                    <div class="input-field">
                        <label for="inputLogin">Username or email</label>
                        <input type="text" id="inputLogin" name="login" required/>
                    </div>
                    <div class="center-align">
                        <button type="submit" class="waves-effect waves-light btn-large orange darken-3">Reset my password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}