{% extends "base.twig" %}

{% block title %}Invalid password reset token{% endblock %}

{% block body %}

    <h1>Success!</h1>

    <p>
        Your password has been successfully reset.
        You can <a href="/login">login</a> now.
    </p>

{% endblock %}