{% extends "base.twig" %}

{% block title %}Forgot password{% endblock %}

{% block body %}

    <h1>Password reset</h1>

    <p>
        An email with password reset instructions has been sent. Please check your inbox.
    </p>

{% endblock %}