{% extends "base.twig" %}

{% block title %}Reset password{% endblock %}

{% block scripts %}
    <script src="/assets/js/hideShowPassword.min.js"></script>
    <script src="/assets/js/passwordValidationMethod.js"></script>
    <script>
        $(document).ready(function() {
            $('#formNewPassword').validate({
                rules: {
                    password: {
                        required: true,
                        minlength: 6,
                        validPassword: true
                    }
                }
            });

            $('#inputPassword').hideShowPassword({
                show: false,
                innerToggle: 'focus'
            });
        });
    </script>
{% endblock %}

{% block body %}

    <h1>Reset password</h1>

    {% if user.getValidationErrors is not empty %}
        <p>Errors:</p>
        <ul>
            {% for error in user.getValidationErrors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form id="formNewPassword" action="/user/password/reset-password" method="post">
        <input type="hidden" name="token" value="{{ token }}">
        <div>
            <label for="inpPassword">New password</label>
            <input type="password" id="inputPassword" name="password" placeholder="Password" required/>
        </div>

        <button type="submit">Reset password</button>

    </form>

{% endblock %}