{% extends "base.html.twig" %}

{% block title %}Forgot password{% endblock %}

{% block body %}
    <h2 class="center-align">Password reset</h2>

    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="card grey lighten-4">
                <div class="card-content">
                    <p>
                        An email with password reset instructions has been sent. Please check your inbox.
                    </p>
                </div>
                <div class="card-action center-align">
                    <a href="/">Back to homepage</a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}