{% extends "base.html.twig" %}

{% block title %}Invalid password reset token{% endblock %}

{% block body %}
    <main>
        <h2 class="center-align">Password reset</h2>

        <div class="row">
            <div class="col s12 m6 offset-m3">
                <div class="card grey lighten-4">
                    <div class="card-content">
                        <h5>Failed</h5>
                        <p>
                            Password reset link is invalid or expired.
                            Please click below to request another one.
                        </p>
                    </div>
                    <div class="card-action center-align">
                        <a href="/user/password/forgot">Request password reset again</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}