{% extends "Admin/base-admin.html.twig" %}

{% block title %} Posts | {% endblock %}

{% block page_title %} <h2 class="page-title">Posts management</h2> {% endblock %}

{% block body %}
    <div class="fixed-action-btn">
        <a href="/admin/posts/new" class="btn-floating btn-large red darken-2 pulse">
            <i class="large material-icons">add</i>
        </a>
    </div>

    <div class="card-panel z-depth-2">
        <div class="input-field">
            <i class="material-icons prefix">search</i>
            <label for="searchInput">Search</label>
            <input type="text" name="search" id="searchInput" placeholder="Search by title, category or author"
                   class="form-control">
        </div>
        <div id="tableCard">
            {% include 'Admin/Posts/Inc/table.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#searchInput').change(function () {
                let search_query = $(this).val();
                if (search_query.length > 0) {
                    searchData('/admin/posts/search', search_query);
                } else {
                    searchData('/admin/posts/search');
                }
            });
        });
    </script>
{% endblock %}