{% if current_user == null %}
    <li><a href="/signup">Sign up</a></li>
    <li><a href="/login">Login</a></li>
{% else %}
    {% if current_user.getRoleId == 1 %}
        <li><a href="/admin/dashboard">Admin Panel</a></li>
    {% endif %}
    <li><a href="/user/profile/show">Profile</a></li>
    <li><a href="/logout">Logout</a></li>
{% endif %}