{% extends "base.html.twig" %}

{% block title %}Page not found{% endblock %}

{% block body %}

    <h1>500</h1>
    <h2>Internal server error</h2>
    <p>Sorry, something went wrong.</p>

{% endblock %}