{% extends "base.twig" %}

{% block title %}Log in{% endblock %}

{% block body %}

    <h1>Log in</h1>

    <form id="formLogin" action="/login/create" method="post">
        <div>
            <label for="inputLogin">Login</label>
            <input id="inputLogin" name="login" placeholder="Login" value="{{ login }}" autofocus required/>
        </div>
        <div>
            <label for="inputPassword">Password</label>
            <input type="password" id="inputPassword" name="password" placeholder="Password" required/>
        </div>

        <button type="submit">Sign up</button>

    </form>

{% endblock %}