{% extends "base.twig" %}

{% block title %}Profile{% endblock %}

{% block scripts %}
    <script src="/assets/js/hideShowPassword.min.js"></script>
    <script src="/assets/js/passwordValidationMethod.js"></script>
    <script src="/assets/js/profileEditFormValidation.js"></script>
{% endblock %}

{% block body %}

    <h1>Edit profile</h1>

    {% if current_user.getValidationErrors is not empty %}
        <p>Errors:</p>
        <ul>
            {% for error in current_user.getValidationErrors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form id="formEditProfile" action="#" method="post">
        <div>
            <label for="inputUsername">Username</label>
            <input id="inputUsername" name="username" placeholder="Username" value="{{ current_user.getUsername }}" required />
        </div>
        <div>
            <label for="inputEmail">Email address</label>
            <input type="email" id="inputEmail" name="email" placeholder="Email address" value="{{ current_user.getEmail }}" required />
        </div>
        <div>
            <label for="inputPassword">Password</label>
            <input type="password" id="inputPassword" name="password" placeholder="Password" />
        </div>

        <button type="submit">Save</button>
        <a href="/user/profile/show">Cancel</a>

    </form>

{% endblock %}