{% extends "base.html.twig" %}

{% block title %}Edit profile{% endblock %}

{% block scripts %}
    <script src="/assets/js/showHidePassword.js"></script>
    <script src="/assets/js/customValidationMethods.js"></script>
    <script>const user_id = '{{ current_user.getId }}'</script>
    <script src="/assets/js/profileEditFormValidation.js"></script>
{% endblock %}

{% block body %}

    <h2>Edit profile</h2>

    {% if errors is not empty %}
        <div class="row">
            <div class="col s12 m6 offset-m3">
                <ul class="collection with-header">
                    <li class="collection-header red lighten-3 center-align"><h5>Errors:</h5></li>
                    {% for error in errors %}
                        <li class="collection-item">{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col m8 s12 offset-m2">
            <div class="card">
                <form id="formEditProfile" action="/user/profile/update" method="post">
                    <div class="card-content">
                        <div class="input-field">
                            <label for="inputUsername">Username</label>
                            <input type="text" id="inputUsername" class="validate" name="username"
                                   value="{{ current_user.getUsername }}"
                                   required>
                        </div>
                        <div class="input-field">
                            <label for="inputEmail">Email address</label>
                            <input type="email" id="inputEmail" class="validate" name="email"
                                   value="{{ current_user.getEmail }}"
                                   required>
                        </div>
                        <div class="input-field">
                            <label for="inputPassword">Password</label>
                            <input type="password" id="inputPassword" class="validate" name="password"
                                   placeholder="Password"
                                   aria-describedby="helpBlock">
                            <span class="helper-text" id="helpBlock">Leave blank to keep current password</span>
                        </div>
                    </div>
                    <div class="card-action">
                        <button class="waves-effect waves-light btn" type="submit">Save</button>
                        <a class="waves-effect waves-light btn red right" href="/user/profile/show">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}