{% extends "Admin/base-admin.html.twig" %}

{% block title %} Admin Panel {% endblock %}

{% block page_title %} <h3 class="page-title">Add new user</h3> {% endblock %}

{% block body %}

    {% if user.getValidationErrors is not empty %}
        <div class="row">
            <div class="col s12 m6 offset-m3">
                <ul class="collection with-header">
                    <li class="collection-header red lighten-3 center-align"><h5>Errors:</h5></li>
                    {% for error in user.getValidationErrors %}
                        <li class="collection-item">{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col m10 s12 offset-m1">
            <div class="card z-depth-2">
                <form action="/admin/users/create" method="post">
                    <div class="card-content">
                        <div class="input-field">
                            <label for="inputUsername">Username</label>
                            <input type="text" id="inputUsername" name="username" value="{{ user.getUsername }}">
                        </div>
                        <div class="input-field">
                            <label for="inputEmail">Email address</label>
                            <input type="email" class="validate" id="inputEmail" name="email" value="{{ user.getEmail }}">
                        </div>
                        <div class="input-field">
                            <i class="material-icons password-icon" id="passwordIcon">visibility</i>
                            <label for="inputPassword">Password</label>
                            <input type="password" id="inputPassword" name="password">
                        </div>
                        <div class="input-field">
                            <select id="selectRole" name="role_id">
                                <option value="2">User</option>
                                <option value="1">Administrator</option>
                            </select>
                            <label for="selectRole">Role</label>
                        </div>
                    </div>
                    <div class="card-action">
                        <button type="submit" class="waves-effect btn">Add user</button>
                        <a href="/admin/users" class="waves-effect btn red right">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="/assets/js/showHidePassword.js"></script>
{% endblock %}